In [12]:
# KudoCopからSimulationDatをインポートする
from KudoCop import SimulationDat

In [13]:
!pwd
!ls

/nfshome15/rkudo/kudocop/docs/tutorial
dump.bond.0	   dump.bond.3000000  dump.pos.1000000	dump.pos.4000000
dump.bond.1000000  dump.bond.4000000  dump.pos.2000000	para.rd
dump.bond.2000000  dump.pos.0	      dump.pos.3000000	tutorial_sdat.ipynb

In [17]:
# sdatを作りpara.rdとdump.pos.0を読み込む
sdat = SimulationDat()
sdat.import_para('para.rd')
sdat.import_dumppos('dump.pos.0')
sdat.import_dumpbond('dump.bond.0')

In [18]:
# cell内の原子数をカウント
sdat.count_atom_types()

N     16211
Si    12148
H      6000
O      3000
Name: type, dtype: int64

In [27]:
# cell内の原子の情報を表示
sdat.atoms

       type       x       y       z     vx     vy     vz      q  mask
0         6  16.849  20.389  20.174  0.001 -0.004  0.000  0.527     5
1         6  32.722  10.533   4.074  0.000 -0.000  0.000  0.521     4
2         6  23.587  11.436  13.742  0.001 -0.004  0.000  0.509     0
3         6   3.904  28.283   0.572  0.000  0.000 -0.000  0.116     4
4         6  48.649  31.810  28.123  0.001 -0.004  0.000  0.501     5
...     ...     ...     ...     ...    ...    ...    ...    ...   ...
37354     2  96.081  16.863  25.520 -0.003  0.012  0.010  0.382     5
37355     3  95.477  17.429  25.990 -0.003  0.004  0.000 -0.783     5
37356     2  81.027   4.444  43.712  0.009 -0.032  0.019  0.266     5
37357     2  81.443   3.474  39.168 -0.001 -0.016  0.016  0.398     5
37358     3  82.514   3.136  40.906 -0.007  0.002  0.004 -0.596     5

[37359 rows x 9 columns]

In [20]:
# bond orderが0.5以上のものを結合しているとみなし、結合数をカウント
sdat.count_bonds(bond_type='dumpbond', cut_off=0.5)

{'H-H': 0,
 'H-O': 5649,
 'H-N': 350,
 'H-Si': 0,
 'O-O': 0,
 'O-N': 169,
 'O-Si': 385,
 'N-N': 7,
 'N-Si': 44848,
 'Si-Si': 881}

In [23]:
# 原子間の距離が1.5以下のものを結合しているとみなし、結合数をカウント
sdat.count_bonds(bond_type='dumppos', cut_off=1.5)

{'H-H': 663,
 'H-O': 5723,
 'H-N': 379,
 'H-Si': 0,
 'O-O': 0,
 'O-N': 0,
 'O-Si': 3,
 'N-N': 4,
 'N-Si': 396,
 'Si-Si': 0}

In [25]:
# bond orderが0.5以上のものを結合しているとみなし、分子数をカウント
sdat.count_mols(bond_type='dumpbond', cut_off=0.5)

{'N1': 2, 'H5O2N1': 1, 'H4O1N1': 1, 'H2O1': 2395, 'H3O1': 101, 'H1': 1}

In [26]:
# 原子間の距離が1.5以下のものを結合しているとみなし、分子数をカウント
sdat.count_mols(bond_type='dumppos', cut_off=1.5)

{'Si1': 11749,
 'N1Si1': 389,
 'H1N1Si1': 4,
 'H1O1Si1': 3,
 'H2O1N1Si1': 3,
 'H1N1': 303,
 'N1': 15459,
 'N2': 4,
 'H2N1': 19,
 'H2O1N1': 18,
 'H3O1N1': 4,
 'H1O1N1': 4,
 'H2O1': 2380,
 'H4O2': 2,
 'H5O2': 52,
 'H1O1': 368,
 'H3O1': 44,
 'O1': 34,
 'H3O2': 8,
 'H7O3': 6}